body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: #23252C;
}

.card {
    min-width: 350px;
    max-width: 350px;
    border-radius: 10px;
    background-color: #1A1B21;
    color: white;
}

/* universal css */
.margin {
    margin: 0px;
}

.margin-top-btm {
    margin: 10px 0px;
}

.width {
    width: 30px;
}

.padding {
    padding: 30px 42px;
}

.btn-padding {
    padding: 10px 34px;
}

.center {
    text-align: center;
}

.img-size {
    width: 14px;
    height: 12px;
    margin-right:10px;
}

/* header css */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.name {
    font-size: 25px;
    font-weight: 700;
}

.profession {
    font-size: 12.8px;
    color: #F3BF99;
}

.website {
    font-size: 10.24px;
}

.header-padding {
    padding: 30px 0px 0px;
}

a {
    text-decoration: none;
        margin-top: 2px;
}

.color-black {
    color: black;
}

.color-white {
    color: white;
}

.linkedln-btn {
    margin-left: 20px;
    padding-inline: 25.5px;
    border-radius: 6px;
    border: none;
    background-color: #5093E2;
}

.email-btn {
    border-radius: 6px;
    border: none;
}

.span {
    display: flex;
    align-items: center;
}

/* About Css */


.about-title {
    font-size: 20px;
}

.about-summary {
    font-size: 14px;
}

/* interest css */

.interest-title {
    font-size: 20px;
}

.interest-summary {
    font-size: 14px;
}

/* Footer Css */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #161619;
    border-radius: 0px 0px 10px 10px;
    padding: 25px 50px;
}

.instagram {
    background-color: gray;
}